.app__wrapper {
  background: url("../../png/background.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 0;
}

.app__wrapper__inner {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  margin-bottom: 18px;
}

.container {
  max-width: 1382px;
  width: 100vw;
  margin: 0 auto;
}

.app__header {
  min-height: 87px;
  background-image: url("../../png/header.png");
  display: flex;
  flex-direction: row;
  padding: 0 27px;
  align-items: center;
}

.app_logo {
  max-height: 42px;
}

.header__navbar {
  display: flex;
  flex-direction: row;
  gap: 45px;
  padding: 0 60px;
}

.header__nav__link {
  font-size: 27px;
  font-weight: 400;
  color: #fff;
}

.header__ava {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 8%;
}

.underheader {
  height: 82px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 18px;
  overflow: hidden;
}

.underheader .container {
  display: grid;
  grid-template-columns: 1.5fr 2fr 1fr;
}

.underheaderbnts {
  width: 100%;
  display: flex;
  align-items: center;
}

.underheader__leftbtns {
  gap: 19px;
}

.underheader__leftbtns .btn {
  padding: 14px 19px;
  border-radius: 7px;
  background-color: #decfff;
  color: #8d55c0;
  font-size: 18px;
  font-weight: 500;
  max-height: 48px;
}

.underheader__middlebtns {
  gap: 11px;
}

.underheader__participants__icons {
  display: flex;
  align-items: center;
  max-height: 64px;
  height: 100%;
}

.underheader__participants__icons img {
  height: 100%;
  margin-left: -10px;
}

.underheader__participants__icons img:first-child {
  margin-left: 0;
}

.content__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__window {
  max-height: 713px;
  max-width: 410px;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  border-radius: 50px;
  padding: 34px 38px 19px 38px;
}

.content__window__title {
  color: #8d55c0;
  font-size: 27px;
  font-weight: 500;
  padding-bottom: 25px;
}

.main__window__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 550px;
  overflow-y: auto;
}

.addtask__btn {
  max-width: 40px;
  max-height: 40px;
  height: 100vh;
  width: 100vw;
  background-color: #d0d3ff;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f8f8ff;
  font-size: 27px;
  line-height: 20px;
  cursor: pointer;
}

.addtask__btn:hover {
  background-color: #d9ccff;
  transition: background-color 0.2s linear;
}

.content__item {
  background-color: #f1deff;
  padding: 12px;
  border-radius: 12px;
}

.item__title {
  font-size: 18px; /* У МАШИ БЫЛО 16px */
  font-weight: 500;
  color: #a665e2;
}

.item__text {
  margin-top: 10px;

  background-color: #faf4ff;
  border-radius: 12px;
  padding: 8px;
  font-size: 16px;
}
